@import "../../assets/Variables.scss";

.content_page_order {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  top: 100px;
  right: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $primary;

  h3{
      position: relative;
      font-weight: bold;
  }
  h4{
      font-size: 24px;
  }
  img{
      width: 280px;
      height: 280px;
  }
}
