@import "../../assets/Variables";
.btn-continue {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  min-height: 40px;
  background: $primary;
  border-radius: 4px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.btn-commander {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  min-height: 40px;
  background: $primary;
  border-radius: 8px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  font-size: $inconsolata;
}
