@import "../../assets/Variables";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;

  h3 {
    position: relative;
    margin-bottom: 20px;
    color: $primary;
    font-weight: bold;
    font-size: $fredokaOne;
  }

  .plus {
    font-size: 20px;
    font-weight: bolder;
    color: $primary;
  }
}

.flex-grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
