@import "../../assets/Variables.scss";

.global_page {
  position: relative;
  width: 100%;
  height: 95vh;
  background: $bg;
}

.content_page {
  position: absolute;
  top: 30%;
  right: 30%;
}

.btn {
  position: absolute;
  top: 150%;
  left: 40%;
  width: auto;
  height: 5vh;
  border-radius: 4%;
  color: white;
  background: $primary;
}

.error_img {
  height: 30vh;
  width: 100%;
}
