@import "../../assets/Variables";

.card-cart {
  position: relative;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.5s;
  color: $primary;
  border: 0.1px solid $primary;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  min-height: 65px;
  font-weight: bold;
  margin-bottom: 10px;

  p {
    margin-top: 10px;
    padding: 5px;
  }

  .quantity {
    position: absolute;
    top: 0;
    left: 20px;
  }
  .increase-quantity {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  .decrease-quantity {
    position: absolute;
    top: 0;
    right: 30px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  .sup-kebab {
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
