@import "../../assets/Variables";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out 0.2s;
  color: $primary;
  border: 0.1px solid $primary;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  height: 160px;
  cursor: pointer;
  &:hover {
    border: 3px solid $primary;
  }
  &:active {
    border: 3px solid orange;
  }
  p {
    margin-top: 10px;
  }

  img {
    height: 100px;
    width: 80%;
  }

  &.valid {
    border: 3px solid $primary;
  }
}
