@import "../../assets/Variables";

.large-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
  color: $primary;
  border: 0.1px solid $primary;
  padding: 10px;
  border-radius: 8px;
  min-width: 150px;
  height: 160px;
  cursor: pointer;

  p {
    margin-top: 10px;
  }

  img {
    height: 100px;
    width: 80%;
  }

  &:hover {
    border: 3px solid $primary;
  }
  &:active {
    border: 3px solid orange;
  }
}

.images {
  display: flex;
  gap: 5px;
}

.title-lrcard {
  position: relative;
  font-size: 16px;
  margin-top: 10px;
  color: $primary;
}

.flex-img {
  display: flex;
}
