@import "../../assets/Variables.scss";

.global_page {
  position: relative;
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: relative;
  }
}
