@import "../../assets/Variables";

.modal-cart {
  background: #fff;
  color: $primary;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  height: 100%;
  width: 250px;
  border-radius: 8px;
  align-items: center;

  .title-commande {
    padding: 5px;
    margin: 20px 0 5px 0px;
    font-size: 20px;
    font-weight: bold;
  }
}
