.grid-choice-viande {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid-choice {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.recap {
  position: relative;
  display: flex;
  height: 160px;
  align-items: center;
  gap: 10px;
}
